[includeIf "gitdir:~/Workspace/"]
  path = ~/.gitconfig-home
[includeIf "gitdir:~/code/"]
  path = ~/.gitconfig-redhat

[alias]
  tree = log --oneline --decorate --all --graph
  conflicts = diff --name-only --diff-filter=U
[core]
  editor = vim
[http]
  sslVerify = true
[pull]
  rebase = true
[gpg]
	program = /usr/local/bin/gpg
[commit]
	gpgsign = true
