[include]
    path = ~/.gitconfig-work
[github.com]
  name = vikin91
  email = vikin91@users.noreply.github.com
[user]
  useConfigOnly = true
	email = vikin91@users.noreply.github.com
	name = vikin91
	signingkey = CF612582C7E7513B
[alias]
	tree = log --oneline --decorate --all --graph
[core]
	editor = vim
[http]
	sslVerify = false
[pull]
	rebase = true
[gpg]
	program = /usr/local/bin/gpg
[commit]
	gpgsign = true
